:root {
    --background-color-gold: #B88E2F;
    --text-title-color: #3A3A3A;
    --text-header-color: #000000;
    --text-type-color: #898989;
    --text-price-sale: #B0B0B0;
    --text-sale-color: #FFFFFF;
    --article-background-color: #F4F5F7;
    --status-sale-color: #E97171;
    --status-new-color: #2EC1AC;
    --text-title-fontsize: 40px;
    --text-small-fontsize: 16px;
    --text-medium-fontsize: 18px;
    --text-large-fontsize: 20px;
    --span-articleWH-PC: 48px;
    --span-articleTR-pc: 24px
}